<!DOCTYPE html>
<html>
<head>
<title>Test</title>
</head>
<body>
<!-- h1 Welcome to something, Please scan the QR code with your mobile phone !!
	div(id="show-qr")
		div(id="qr")
	div(id="content")
		div(id="game")
			div(id="field")
				div(id="bar")
				div(class="ball") -->
<h1>Welcome to something, Please scan the QR code with your mobile phone !!</h1>


<div id="show-qr">
	<div id="qr"></div>
</div>
<div id="content">
	<div id="player"></div>
	<!-- <div class="video-box-1">
		<iframe id="video1" src="https://www.youtube.com/embed/GgyPCtKudrE?version=3&enablejsapi=1" width="560" height="315"></iframe>
	</div> -->
	<div id="game">
		<div id="field">
			<div id="bar"></div>
			<div class="ball"></div>
		</div>
	</div>	
</div>

</body>
</html>