doctype html
html(lang='en')  
	head  
		title="Desktop Browser"
		link(rel="stylesheet", type="text/css", href="/css/main.css")
		

		script(type="text/javascript", src="/socket.io/socket.io.js")
		script(type="text/javascript", src="https://apis.google.com/js/client.js")
		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")

		script(type="text/javascript", src="/js/jquery.qrcode.js")
		script(type="text/javascript", src="/js/TweenMax.min.js")

		script(type="text/javascript", src="//rawgit.com/mrdoob/stats.js/master/build/stats.min.js")
		script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js")

		script(type="text/javascript", src="/js/main.js")
		
		
		
body 
	include index.html
	
